@import "tailwindcss";

@theme {
  --color-primary: #4A698A;
  --color-secondary: #C16E70;
  --color-accent: #32465D;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.text-stroke {
  -webkit-text-stroke: 3px #32465D;
}

@media (max-width: 1280px) {
  .text-stroke {
    -webkit-text-stroke: 2.5px #32465D;
  }
}

@media (max-width: 1024px) {
  .text-stroke {
    -webkit-text-stroke: 2px #32465D;
  }
}

@media (max-width: 768px) {
  .text-stroke {
    -webkit-text-stroke: 2px #32465D;
  }
}