@import "tailwindcss";

@theme {
  --color-primary: #204c27;
  --color-secondary: #e7c6e6;
  --color-tertiaty: #2c1e30;
  --color-accent: #e2f012;
}
html {
  scroll-behavior: smooth;
}

.text-stroke {
  -webkit-text-stroke: 3px #e2f012;
}

@media (max-width: 640px) {
  .text-stroke {
    -webkit-text-stroke: 2px #e2f012;
  }
}
